{% extends 'Open/Common/layout_main_panel_new.twig' %}
{% import ('/Common/simple_form_helpers_for_layui.html.twig') as sf %}

{% set title = '我的财务-资金明细' %}

{% block css %}
    {{ use_assets('/assets/open/css/finance.css') }}
{% endblock %}
{% block main_content %}
    <div class="layui-row layui-col-space15">
    <div class="layui-col-md9">
        <div class="layui-card">
            <div class="layadmin-finance">
                <div class="layui-form layuiadmin-card-text">
                    <form action="" method="get" id="get-search">
                        <div class="layui-inline">
                            <label class="layui-form-label">流水号</label>
                            <div class="layui-input-block">
                                <input type="text" name="trade_id" value="" placeholder="请输入流水号" class="layui-input" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">业务单号</label>
                            <div class="layui-input-block">
                                <input type="text" name="order_id" value="" placeholder="请输入业务单号" class="layui-input" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">交易名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="name" value="" placeholder="请输入交易名称" class="layui-input" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">交易类型</label>
                            <div class="layui-input-block">
                                {{ sf.select_raw('log_type', to_options('App\\Common\\Model\\Payment\\UserMoneyLog::LOG_TYPES', '全部'), {"class": "layui-input"}) }}
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">金额范围</label>
                            <div class="layui-input-block">
                                <input type="number" name="min" value="" class="layui-input" placeholder="最小金额" style="display: inline-block; width: 110px;"/>
                                <input type="number" name="max" value="" class="layui-input" placeholder="最大金额" style="display: inline-block; width: 110px;" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">订单时间</label>
                            <div class="layui-inline layadmin-time-content">
                                <input id="timeFrame" type="text" name="" value="" class="layui-input" placeholder="开始时间 - 结束时间" />
                                <input type="hidden" name="start_time" id="start_time" value="{{ 'now'|date('Y-m-d') }}">
                                <input type="hidden" name="end_time" id="end_time" value="{{ 'now'|date('Y-m-d') }}">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn layui-btn-normal layui-btn-sm" onclick="get_data();return false">查 询</button>
                        </div>
                    </form>
                </div>
                <div class="layui-btn-container">
                    <button id="statistics" class="layui-btn layui-btn-normal layui-btn-sm" onclick="show_count(this)">查看统计</button>
                    <button class="layui-btn layui-btn-normal layui-btn-sm" onclick="export_cvs()">导出记录</button>
                </div>
                <!--统计展开时，按钮显示“收起统计”文本-->
                <div class="m-table-total" style="display: none;">
                    <ul class="g-bdc">
                        <li>收入：<span id="income_count"></span>（<span id="income_sum_money"></span>）</li>
                        <li>支出：<span id="payment_count"></span>（<span id="payment_sum_money"></span>）</li>
                    </ul>
                </div>
                <table id="paged-table" class="layui-table" lay-filter="paged-table">

                </table>
                <script id="add_time" type="text/html">
                    <%#
                    var date = new Date();
                    date.setTime(d.add_time*1000);
                    return date.Format("yyyy-MM-dd hh:mm:ss");
                    %>
                </script>
            </div>
        </div>
    </div>
    {% include 'Open/Common/right-panel.twig' %}
</div>

  <script type="text/javascript">

      form.render();

      var url = "";
      var columns = [[
          {"field": "id", "title": "交易流水号", "width": 100},
          {"field": "order_id", "title": "业务单号", "width": 150},
          {"field": "name", "title": "交易名称", "width": 150},
          {"field": "log_type", "title": "交易类型"},
          {"field": "amount", "title": "交易金额"},
          {"field": "current_balance", "title": "账户余额", templet:function(d){
                  return d.current_balance;
              }},
          {"field": "add_time", "title": "时间", "width": 200, templet: "#add_time"},
      ]];

      function get_data() {
          var params=$('form#get-search').serialize();
          url = '?' + params;
          rander_table('#paged-table', url, columns, '');
      }

      // 初始化
      get_data();

      function show_count(dom){
          if($(dom).text() == '查看统计'){
              $('.m-table-total').show();
              var params = $('form#get-search').serialize();

              $.get("{{ path("open_finance_transactions_summary") }}?" + params, '',function (data) {
                  $('#income_count').text(data.income.count+'笔');
                  $('#income_sum_money').text(data.income.sum_money+'元');
                  $('#payment_count').text(data.spend.count+'笔');
                  $('#payment_sum_money').text(data.spend.sum_money+'元');
              });
              $(dom).text('关闭统计')
          }else if($(dom).text() == '关闭统计'){
              $('.m-table-total').hide();
              $(dom).text('查看统计')
          }
      }

      function export_cvs(){
          var params = $('form#get-search').serialize();
          location.href="{{ path("open_finance_transactions_export") }}?" + params;
      }

  </script>
{% endblock %}
