{% extends '/Passport/layout.twig' %}
{% block main_content %}
<style type="text/css">
    .page-content {padding: 0;}

    /*面包屑*/
    .page-crumbs {position: absolute; top: 10px; left: 10px; width: 680px; padding-bottom: 10px; border-bottom: 1px dashed #E0E0E0;}
    .page-crumbs a {color: #2F86F6;}
    .page-crumbs a:hover {text-decoration: underline;}
    .page-crumbs span:last-child {color: #999;}

    /*文章容器*/
    .page-article-body {margin-top: 40px; padding: 0 10px;}
    .page-article-body h3 {margin-bottom: 30px; font-size: 16px; text-align: center;}
    .page-article-body p {margin-bottom: 10px; color: #555; line-height: 24px;}
    .page-article-body img {display: inline-block; text-align: center; margin: 0 auto; vertical-align: middle;}

    /*文章列表*/
    .page-lis-item {}
    .page-lis-item a {width: 180px;}

    /*页面跳转*/
    .page-jump {position: relative; margin: 15px 0 10px 10px; line-height: 24px;}
    .page-jump a {color: #2F86F6;}
    .page-jump a:hover {text-decoration: underline;}
    .page-jump .return {position: absolute; top: 7px; right: 0; padding: 4px 10px; border: 1px solid #ccc; color: #888;}
    .page-jump .return:hover {text-decoration: none; border-color: #2F86F6; color: #2F86F6;}
</style>

<div class="page-content">
    <div class="wrapper-left">
        <div class="page-crumbs">
            <a href="{{ path('passport_question_common_questions') }}">常见问题</a>
            <span>-</span>
            <span>正文</span>
        </div>
        <div class="page-article-body">
            <h3>{{ article.title }}</h3>
            {{ article.content|raw }}
        </div>
        <div class="page-jump">
            上一篇：{% if last %}<a href="{{ path('passport_question_detail',{id:last.id}) }}">{{ last.title }}</a>{% else %}没有了{% endif %}<br/>
            下一篇：{% if next %}<a href="{{ path('passport_question_detail',{id:next.id}) }}">{{ next.title }}</a>{% else %}没有了{% endif %}
            <a href="{{ path('passport_question_common_questions') }}" class="return">返回列表</a>
        </div>
    </div>
    <div class="wrapper-right" style="padding: 15px">
        <div class="title" style="padding-top: 0;">相关问题推荐</div>
        <ul class="page-lis">
            {% for v in article_list %}
                <li class="page-lis-item">
                    <a href="{{ path('passport_question_detail',{'id':v.id}) }}"><em>◇</em>{{ v.title }}</a>
                    <span>{{ v.publish_time|date('Y-m-d') }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}