{% import ('/Common/simple_form_helpers_for_layui.html.twig') as sf %}

<div class="layui-card-header">通行证设置</div>
<div class="layui-card-body">
  <div class="layui-tab layui-tab-brief">
    <ul class="layui-tab-title">
      <li class="layui-this">个人通行证注册激活/平台账户自动开户</li>
      <li>企业通行证注册激活/平台账户自动开户</li>
      <li>账密错误导致通行证冻结</li>
    </ul>
    <div class="layui-tab-content  layadmin-form-body" style="padding-top: 10px;">
      <div class="layui-tab-item layui-show">
        <div class="layui-form ">
          {{ sf.radio(form.individual_requires_identity, '注册时', {'1': '注册时需要填写身份信息', '0': '注册时不需要填写身份信息'}, {'inner': 'block'}) }}
          {{ sf.radio(form.individual_activation_method, '注册后', {'0': '注册后无需审核身份信息自动激活', '1': '注册后需审核身份信息才自动激活'}, {'inner': 'block'}) }}
          {{ sf.radio(form.individual_identity_verify_method, '身份审核方式', {'0': '后台人工', '1': '接口校验（调取失败转人工）'}, {'inner': 'block'}) }}
          {{ sf.radio(form.individual_open_platform_create_account_method, '开放平台账户开户方式', {'0': '激活通行证自动开户', '1': '身份信息过审自动开户', '2': '需完成身份信息审核后，额外申请开户并通过'}, {'inner': 'block'}) }}
          {{ sf.radio(form.individual_reseller_platform_create_account_method, '代理商平台账户开户方式', {'0': '激活通行证自动开户', '1': '身份信息过审自动开户', '2': '需完成身份信息审核后，额外申请开户并通过'}, {'inner': 'block'}) }}
          {{ sf.radio(form.individual_supplier_platform_create_account_method, '供应商平台账户开户方式', {'0': '激活通行证自动开户', '1': '身份信息过审自动开户', '2': '需完成身份信息审核后，额外申请开户并通过'}, {'inner': 'block'}) }}
        </div>
      </div>
      <div class="layui-tab-item">
        <div class="layui-form">
          {{ sf.radio(form.business_activation_method, '注册后', {'0': '注册后完成邮箱验证，无需审核身份信息自动激活', '1': '注册后完成邮箱验证，需审核身份信息才自动激活'}, {'inner': 'block'}) }}
          {{ sf.radio(form.business_identity_verify_method, '身份审核方式', {'0': '后台人工', '1': '接口校验（调取失败转人工）'}, {'inner': 'block'}) }}
          {{ sf.radio(form.business_open_platform_create_account_method, '开放平台账户开户方式', {'0': '激活通行证自动开户', '1': '身份信息过审自动开户', '2': '需完成身份信息审核后，额外申请开户并通过'}, {'inner': 'block'}) }}
          {{ sf.radio(form.business_reseller_platform_create_account_method, '代理商平台账户开户方式', {'0': '激活通行证自动开户', '1': '身份信息过审自动开户', '2': '需完成身份信息审核后，额外申请开户并通过'}, {'inner': 'block'}) }}
          {{ sf.radio(form.business_supplier_platform_create_account_method, '供应商平台账户开户方式', {'0': '激活通行证自动开户', '1': '身份信息过审自动开户', '2': '需完成身份信息审核后，额外申请开户并通过'}, {'inner': 'block'}) }}
        </div>
      </div>
      <div class="layui-tab-item">
        <div class="layui-form">
          {{ sf.text(form.max_password_errors_per_day, '每日最多允许输错密码次数', {'inner': 'block'}) }}
          {{ sf.text(form.suspend_period, '超过错误次数后冻结时间', {'inner': 'block'}) }}
        </div>
      </div>
    </div>
  </div>
</div>
