{% extends ('/Admin/Common/layout.twig') %}
{% import ('/Common/simple_form_helpers_for_layui.html.twig') as sf %}

{% set title = '系统设置' %}

{% block main_content %}
<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-header">系统设置</div>
    <div class="layui-card-body">
      <div class="layui-foldapse">
        <div class="layui-folda-item">
          <h2 class="layui-folda-title"><i class="layui-icon layui-icon-triangle-d"></i>个人通行证注册激活/平台账户自动开户</h2>
          <div class="layui-folda-content layui-folda-content-bg">
            <div class="layui-form">
                {{ sf.radio(form.status,      '状态',   {'ACTIVE': '正常', 'SUSPENDED': '已禁用'}) }}
                {{ sf.select(form.roles,      '权限组',  to_options('App\\Admin\\Model\\AdminUser::ADMIN_ROLES', "全部")) }}
                {{ sf.text(form.user_name,    '用户名') }}


                <div class="layui-form-item">
                <label class="layui-form-label">注册时：</label>
                <div class="layui-input-block">
                  <input type="radio" name="a" value="0" title="注册时需要填写身份信息" checked>
                  <input type="radio" name="a" value="1" title="注册时不需要填写身份信息">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">注册后：</label>
                <div class="layui-input-block">
                  <input type="radio" name="b" value="0" title="注册后无需审核身份信息自动激活" checked>
                  <input type="radio" name="b" value="1" title="注册后需审核身份信息才自动激活">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">身份审核方式：</label>
                <div class="layui-input-block">
                  <input type="radio" name="c" value="0" title="后台人工" checked>
                  <input type="radio" name="c" value="1" title="接口校验（调取失败转人工）">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">开放平台账户开户方式：</label>
                <div class="layui-input-block">
                  <input type="radio" name="d" value="0" title="激活通行证自动开户" checked><br />
                  <input type="radio" name="d" value="1" title="身份信息过审自动开户"><br />
                  <input type="radio" name="d" value="2" title="需完成身份信息审核后，额外申请开户并通过">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">代理商平台账户开户方式：</label>
                <div class="layui-input-block">
                  <input type="radio" name="e" value="0" title="激活通行证自动开户"><br />
                  <input type="radio" name="e" value="1" title="身份信息过审自动开户" checked><br />
                  <input type="radio" name="e" value="2" title="需完成身份信息审核后，额外申请开户并通过">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">供应商平台账户开户方式：</label>
                <div class="layui-input-block">
                  <input type="radio" name="f" value="0" title="激活通行证自动开户"><br />
                  <input type="radio" name="f" value="1" title="身份信息过审自动开户"><br />
                  <input type="radio" name="f" value="2" title="需完成身份信息审核后，额外申请开户并通过" checked>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="layui-folda-item">
          <h2 class="layui-folda-title"><i class="layui-icon layui-icon-triangle-d"></i>企业通行证注册激活/平台账户自动开户</h2>
          <div class="layui-folda-content layui-folda-content-bg">
            <div class="layui-form">
              <div class="layui-form-item">
                <label class="layui-form-label">注册后：</label>
                <div class="layui-input-block">
                  <input type="radio" name="g" value="0" title="注册后完成邮箱验证，无需审核身份信息自动激活" checked><br />
                  <input type="radio" name="g" value="1" title="注册后完成邮箱验证，需审核身份信息才自动激活">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">身份审核方式：</label>
                <div class="layui-input-block">
                  <input type="radio" name="h" value="0" title="后台人工" checked>
                  <input type="radio" name="h" value="1" title="接口校验（调取失败转人工）">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">开放平台账户开户方式：</label>
                <div class="layui-input-block">
                  <input type="radio" name="i" value="0" title="激活通行证自动开户" checked><br />
                  <input type="radio" name="i" value="1" title="身份信息过审自动开户"><br />
                  <input type="radio" name="i" value="2" title="需完成身份信息审核后，额外申请开户并通过">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">代理商平台账户开户方式：</label>
                <div class="layui-input-block">
                  <input type="radio" name="j" value="0" title="激活通行证自动开户"><br />
                  <input type="radio" name="j" value="1" title="身份信息过审自动开户" checked><br />
                  <input type="radio" name="j" value="2" title="需完成身份信息审核后，额外申请开户并通过">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">供应商平台账户开户方式：</label>
                <div class="layui-input-block">
                  <input type="radio" name="k" value="0" title="激活通行证自动开户"><br />
                  <input type="radio" name="k" value="1" title="身份信息过审自动开户"><br />
                  <input type="radio" name="k" value="2" title="需完成身份信息审核后，额外申请开户并通过" checked>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="layui-folda-item">
          <h2 class="layui-folda-title"><i class="layui-icon layui-icon-triangle-d"></i>账密错误导致通行证冻结</h2>
          <div class="layui-folda-content layui-folda-content-bg">
            <div class="layui-form">
              <div class="layui-form-item">
                <label class="layui-form-label">每日最多允许输错密码次数：</label>
                <div class="layui-input-block">
                  <div class="layui-inline">
                    <input type="text" placeholder="" class="layui-input">
                  </div>
                  次
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">通行证冻结时间：</label>
                <div class="layui-input-block">
                  <div class="layui-inline">
                    <input type="text" placeholder="" class="layui-input">
                  </div>
                  小时
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="layui-folda-item">
          <h2 class="layui-folda-title"><i class="layui-icon layui-icon-triangle-d"></i> 代理商平台设置</h2>
          <div class="layui-folda-content layui-folda-content-bg">
            <div class="layui-form">
              <div class="layui-form-item">
                <label class="layui-form-label">邀请员工等待确认时间：</label>
                <div class="layui-input-block">
                  <div class="layui-inline">
                    <input type="text" placeholder="" class="layui-input">
                  </div>
                  小时
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="layui-folda-item">
          <h2 class="layui-folda-title"><i class="layui-icon layui-icon-triangle-d"></i> 供应商平台设置</h2>
          <div class="layui-folda-content layui-folda-content-bg">
            <div class="layui-form">
              <div class="layui-form-item">
                <label class="layui-form-label">提现手续费：</label>
                <div class="layui-input-block">
                  <input type="radio" name="l" title="不收取手续费" checked><br />
                  <input type="radio" name="l" title="按费率收取">
                  <div class="layui-inline">
                    <input type="text" placeholder="" class="layui-input">
                  </div>
                  %<br />
                  <input type="radio" name="l" title="按费率收取">
                  <div class="layui-inline">
                    <input type="text" placeholder="" class="layui-input">
                  </div>
                  元
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">每日最大申请提现次数：</label>
                <div class="layui-input-block">
                  <div class="layui-inline">
                    <input type="text" placeholder="" class="layui-input">
                  </div>
                  次
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">单次可提现范围：</label>
                <div class="layui-input-block">
                  <div class="layui-inline">
                    <input type="text" placeholder="" class="layui-input">
                  </div>
                  ~
                  <div class="layui-inline">
                    <input type="text" placeholder="" class="layui-input">
                  </div>
                  元
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">邀请员工等待确认时间：</label>
                <div class="layui-input-block">
                  <div class="layui-inline">
                    <input type="text" placeholder="" class="layui-input">
                  </div>
                  小时
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="layui-form">
        <div class="layui-form-item">
          <div class="layui-input-block" style="margin-left: 170px;">
            <button class="layui-btn">保存</button>
            <button class="layui-btn layui-btn-primary">取消</button>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block extra %}
  <div class="layui-card" id="edit-user" style="display: none;">
    <div class="layui-card-body">
      <form id="edit-form" class="layui-form" lay-filter="edit-form">
        <div class="layui-form-item">
          <label class="layui-form-label"></label>
          <div class="layui-input-inline layui-inline-400">
            带 * 号的为必填项
          </div>
        </div>

        {{ sf.field(form.roles,       'select',   '权限组：',     {'options': to_options(constant('App\\Admin\\Model\\AdminUser::ADMIN_ROLES'), "全部")}) }}
        {{ sf.field(form.user_name,   'text',     '用户名：',     {'attrs': {'placeholder': '请输入用户名'}}) }}
        {{ sf.field(form.name,        'text',     '名字：',      {'attrs': {'placeholder': '请输入名字'}}) }}
        {{ sf.field(form.password,    'password', '密码：',      {'attrs': {'placeholder': '留空则不修改'}}) }}
        {{ sf.field(form.mobile,      'text',     '手机号：',     {'attrs': {'placeholder': '请输入手机号'}}) }}
        {{ sf.field(form.title,       'text',     '职务：',      {'attrs': {'placeholder': '请输入职务'}}) }}

        {{ sf.rest(form) }}
        <input type="hidden" name="_token" value="{{ csrf_token('admin_system_administration_administrator_save') }}">
      </form>
    </div>
  </div>

  <input type="text" name="user_name" placeholder="搜索..." autocomplete="off" class="layui-input">

{% endblock %}


{% block js_end %}
  <script>
      layui.table.on('tool(table)', function (row) {
          var data = row.data;
          if (row.event === 'edit') {
              console.log(row.data);
              show_edit_dialog(row.data);
          } else if (row.event === 'del') {
              layer.confirm('确认要删除吗？', function (index) {
                  $.post('{{ path('admin_system_administration_administrators_delete') }}',
                      {id: data.id, _token: '{{ csrf_token('admin_system_administration_administrators_delete') }}'},
                      function (data) {
                          if (!data.status) {
                              layer.alert(data.msg);
                              return;
                          }

                          reload_table();
                          layer.msg(data.msg, {time: 1500});
                      }, 'json'
                  );

                  layer.close(index);
              });
          }
      });

      function reload_table() {
          table.reload('table', {
              where: $('#form').serializeJson()
          });
      }

      function save_user(callback) {
          $.post('{{ path('admin_system_administration_administrator_save') }}',
              $('#edit-form').serialize(),
              function (data) {
                  if (!data.status) {
                      layer.alert(data.msg);
                      callback(false);
                      return;
                  }
                  callback(true);
                  reload_table();
                  layer.msg(data.msg, {time: 1500});
              }, 'json'
          );
      }

      function show_edit_dialog(data) {
          if (data) {
              layui.form.val("edit-form", {
                  "id":  data.id
                  , "user_name":  data.user_name
                  , "roles":    data.roles
                  , "name":     data.name
                  , "password": ''
                  , "mobile":   data.mobile
                  , "title":    data.title
              });
          }

          layer.open({
              title:    data ? '编辑用户' : '新增用户',
              type:     1,
              area:     ['400px', '500px'],
              content:  $('#edit-user'),
              closeBtn: false,
              btn:      ['保存', '取消'],
              yes:      function (index, layero) {
                  save_user(function (succeed) {
                      if (succeed) {
                          layer.close(index);
                          $('#edit-user').toggle();
                      }
                  });
              },
              btn2:     function (index, layero) {
                  layer.close(index);
                  $('#edit-user').toggle();
              }
          });
      }
  </script>
{% endblock %}
