{% extends 'Admin/Common/layout.twig' %}
{% import ('/Common/simple_form_helpers_for_layui.html.twig') as sf %}

{% block main_content %}
    <style>
        .laytable-cell-1-actions{width:200px !important;}
    </style>
    <div class="layui-fluid" id="recharge_order">
        <div class="layui-card">
            <div class="layui-tab layui-tab-brief layadmin-tab" lay-filter="docDemoTabBrief">
                <ul class="layui-tab-title" id="order_mark">
                  {% for key,mark in constant('App\\Common\\Model\\Order\\OrderRecharge::MARKS') %}
                      <li data-mark="{{ key }}" {% if key==order_mark %}class="layui-this"{% endif %}>{{ mark }}
                          <span class="layui-badge">
                              {{ order_mark_statistics[key] }}
                          </span>
                      </li>
                  {% endfor %}
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div class="layui-form layadmin-bgcolor">
                            <div class="layui-inline">
                                <label class="layui-form-label" style="width: 90px; padding: 9px 10px;">空渠道下单：</label>
                                <div class="layui-input-block">
                                  {% if empty_channel_add_order == 0 %}
                                      <input type="checkbox" name="close" lay-skin="switch" lay-filter="empty_channel_add_order" lay-text="ON|OFF">
                                  {% else %}
                                      <input type="checkbox" checked name="open" lay-skin="switch" lay-filter="empty_channel_add_order" lay-text="ON|OFF">
                                  {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="layui-form layui-form-pane layui-card-header layuiadmin-card-header-auto">
                            <div class="layui-form-item">
                                <form action="" method="get" id="order-recharge">
                                    <input type="hidden" name="order_mark" value="{{ order_mark }}">
                                    <input type="hidden" name="product_cate_id" value="{{ product_cate_id }}">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">订单来源</label>
                                        <div class="layui-input-block">
                                          {{ sf.select_raw('platform_id', to_options(constant("App\\Platform::PLATFORMS"), '全部'), {"class": "form-control"}) }}
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">订单状态</label>
                                        <div class="layui-input-block">
                                          {{ sf.select_raw('status', to_options(constant("App\\Common\\Model\\Order\\OrderRecharge::STATUSES"), '全部'), {"class": "form-control"}) }}
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">充值状态</label>
                                        <div class="layui-input-block">
                                          {{ sf.select_raw('recharge_status', to_options(constant("App\\Common\\Model\\Order\\OrderRechargeSup::RECHARGE_STATUS"), '全部'), {"class": "form-control"}) }}
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">用户结算状态</label>
                                        <div class="layui-input-block">
                                          {{ sf.select_raw('settlement_status', to_options(constant("App\\Common\\Model\\Order\\OrderRecharge::SETTLEMENT"), '全部'), {"class": "form-control"}) }}
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">SUP订单结算状态</label>
                                        <div class="layui-input-block">
                                          {{ sf.select_raw('settle_status', to_options(constant("App\\Common\\Model\\Order\\OrderRechargeSup::SETTLE_STATUSES"), '全部'), {"class": "form-control"}) }}
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">日期范围</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="" class="layui-input" id="timeFrame" placeholder="">
                                            <input type="hidden" name="start_time" id="start_time" value="{{ 'now'|date('Y-m-d') }}">
                                            <input type="hidden" name="end_time" id="end_time" value="{{ 'now'|date('Y-m-d') }}">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">搜索</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="id" placeholder="主订单编号搜索..." autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <div class="layui-input-block layui-input-block-margin">
                                            <button class="layui-btn layuiadmin-btn-useradmin" onclick="get_data();return false;">
                                                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="layui-card-body">
                            <div style="padding: 5px 0;">
                                <button class="layui-btn layuiadmin-btn-useradmin reverse-select">反选</button>
                                <button class="layui-btn layuiadmin-btn-useradmin site-demo-layer" data-type="setSuccess">置成功</button>
                                <button class="layui-btn layui-btn-danger layuiadmin-btn-useradmin site-demo-layer" data-type="setFailure">置失败</button>
                                <button class="layui-btn layui-btn-normal layuiadmin-btn-useradmin site-demo-layer" data-type="settlement">结算</button>
                            </div>

                            <table class="layui-table" id="order-table" lay-filter="order-table">

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra %}

    <!--弹窗信息------------------------>

    <!--置成功提示-->
    <div id="setSuccessDome" class="layer-demo layui-form" style="display: none;">
        <input type="radio" name="type_success" value="1" title="对最新SUP订单置成功并结算" checked>
        <input type="radio" name="type_success" value="2" title="对最新SUP订单置成功，暂不结算">
        <input type="radio" name="type_success" value="3" title="对最新SUP订单不进行任何操作">
    </div>
    <!--置失败提示-->
    <div id="setFailureDome" class="layer-demo layui-form" style="display: none;">
        <input type="radio" name="type_fail" value="1" title="对最新SUP订单置失败并结算" checked>
        <input type="radio" name="type_fail" value="3" title="对最新SUP订单不进行任何操作">
        <div class="layui-input-inline" style="margin-top: 20px;">
            <input type="password" name="password" lay-verify="pass" placeholder="请输入安全操作密码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <!--结算提示-->
    <div id="settlementDome" class="layer-demo layui-form" style="display: none;">
        确定对所选订单对应最新SUP订单进行结算？
    </div>

    <!--重新充值操作提示-->
    <div id="againRechargeDome" class="layer-demo layui-form" style="display: none;">
        <input type="radio" name="again" value="1" title="对当前SUP订单置失败并结算" checked>
        <input type="radio" name="again" value="2" title="对当前SUP订单不进行任何操作">
        <div class="layui-input-inline" style="margin-top: 20px;">
            <input type="password" name="repassword" lay-verify="pass" placeholder="请输入安全操作密码" autocomplete="off" class="layui-input">
        </div>
    </div>

{% endblock %}

{% block js_end %}
  {% include "/Admin/Order/common_js.twig" %}
  {% include "/Admin/Order/recharge_js.twig" %}
{% endblock %}