{% extends ('/Admin/Common/layout.twig') %}
{% import ('/Common/simple_form_helpers_for_layui.html.twig') as sf %}

{% set title = '地区管理 - 商品属性管理' %}

{% block main_content %}
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-form-pane layui-card-header">
                <form class="layui-form foxdou-row horizon-form" id="search-form">
                    <div class="layui-form-item" style="margin-bottom: 0;">
                        {{ sf.select(search_form.province_code, null, to_options('App\\Common\\Model\\Region::PROVINCE_FULL_NAMES', "省份/直辖市"), {'outer': 'inline'}, {'id': 'search_province_code', 'lay-filter': 'search_province_code'}) }}
                        {{ sf.select(search_form.city_code, null, {}, {'outer': 'inline'}, {'id': 'search_city_code'}) }}
                        {{ sf.text(search_form.search, null, {'outer': 'inline'}, {'placeholder': '搜索'}) }}
                        <div class="layui-inline">
                            {{ sf.button('搜索', {'outer': null}, {'class': 'layui-btn layui-btn-sm', 'style': 'width: 80px;', 'onclick': 'reload_table()'}, null) }}
                        </div>
                    </div>
                </form>
            </div>
            <div class="layui-card-body">
                <div style="padding: 5px 0;">
                    <button class="layui-btn layuiadmin-btn-useradmin" onclick="show_edit_dialog(null)">新增地区</button>
                </div>
                <table id="table" class="layui-table" lay-data="{url:'{{ path('admin_regions_index') }}', page:true, id:'table', method:'get'}" lay-filter="table">
                    <thead>
                    <tr>
                        <th lay-data="{field:'id', width:100, align: 'center'}">ID</th>
                        <th lay-data="{field:'area_name', align: 'center'}">地区名称</th>
                        <th lay-data="{field:'level', width:100, align: 'center'}">级别</th>
                        <th lay-data="{field:'province_name', width:100, align: 'center'}">省/直辖市</th>
                        <th lay-data="{field:'province_code', width:100, align: 'center'}">省/直辖市代码</th>
                        <th lay-data="{field:'city_name', width:150, align: 'center'}">市/区</th>
                        <th lay-data="{field:'city_code', width:100, align: 'center'}">市/区代码</th>
                        <th lay-data="{field:'zipcode', width:150, align: 'center'}">邮编</th>
                        <th lay-data="{align:'center', toolbar: '#actions', width:'12%'}">操作</th>
                    </tr>
                    </thead>
                </table>
                <script type="text/html" id="actions">
                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
                </script>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra %}
    <div class="layui-card" id="edit-area" style="display: none;">
        <div class="layui-card-body">
            <form id="edit-form" class="layui-form" lay-filter="edit-form">
                <div class="layui-form-item">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-inline">
                        带 * 号的为必填项
                    </div>
                </div>

                {#<div class="layui-form-item">#}
                {#<div class="layui-inline">#}
                    {#<label class="layui-form-label">上级地区 *</label>#}
                    {#<div class="layui-input-inline">#}
                    {#{{ sf.select_raw(edit_form.province_code, to_options('App\\Common\\Model\\Region::PROVINCE_FULL_NAMES', "省份/直辖市"), {'lay-filter': 'province_code'}) }}#}
                    {#</div>#}
                    {#<div class="layui-input-inline">#}
                    {#{{ sf.select_raw(edit_form.city_code, {}, {'lay-filter': 'city_code'}) }}#}
                    {#</div>#}
                    {#<div class="layui-input-inline">#}
                    {#{{ sf.select_raw(edit_form.district_code, {}, {'lay-filter': ''}) }}#}
                    {#</div>#}
                {#</div>#}
                {#</div>#}

                <div class="layui-form-item select-box">
                    <label class="layui-form-label">省份/直辖市</label>
                    <div class="layui-input-block">
                        <input value="" type="text" autocomplete="on" class="layui-input" id="city-picker" name="city-picker" readonly="readonly" data-toggle="city-picker" placeholder="请选择" style="width: 420px;">
                    </div>
                </div>

                {{ sf.text(edit_form.area_code, '地区编码') }}
                {{ sf.text(edit_form.area_name, '地区名称') }}
                {{ sf.text(edit_form.short_name, '短名称') }}
                {{ sf.text(edit_form.sort, '在上级地区中的排序', {'tips': '序号越小，排序越靠前'}) }}
                {{ sf.text(edit_form.zipcode, '邮政编码') }}

                {{ sf.hidden(edit_form.id) }}
                {{ sf.csrf('edit_region') }}
            </form>
        </div>
    </div>
{% endblock %}


{% block js_end %}
    <script src="{{ url('admin_regions_city_picker_data') }}"></script>

    {#'/assets/common/components/city-picker/city-picker.data.js',#}
    {{ use_assets([
        '/assets/common/components/city-picker/city-picker.css',
        '/assets/common/components/city-picker/city-picker.impl.js'
    ]) }}

    <script>

        var picker = new layui.citypicker("#city-picker", {
            level: 'city_code'// 级别
            // simple: false, // 是否使用简称，比如北京市简称北京
            // responsive: false,
            // placeholder: '请选择省/市/区',
            // level: 'district',// 级别
            // province_widget_name: 'province_code',//input hidden 的name属性
            // city_widget_name: 'city_code',    //input hidden 的name属性
            // district_widget_name: 'district_code',//input hidden 的name属性
        });

        form.on('select(search_province_code)', function(data){
            console.log(data.value); //得到被选中的值
            axios.get('{{ path('admin_regions_cities') }}?province_code=' + data.value)
                .then(function (response) {
                    console.log(response);
                    var options = '<option value="">市/区</option>';
                    var cities = response.data.data;
                    $.each(cities, function (index, item) {
                        options += '<option value="' + item.id + '">' + item.area_name + '</option>';
                    });
                    $('#search_city_code').html(options);
                    layui.form.render('select');
                })
                .catch(function (error) {
                    layer.msg('服务器返回数据错误，请重试');
                })
        });
        form.on('select(province_code)', function(data){
            console.log(data.value); //得到被选中的值
            axios.get('{{ path('admin_regions_cities') }}?province_code=' + data.value)
                .then(function (response) {
                    console.log(response);
                    var options = '<option value="">市/区</option>';
                    var cities = response.data.data;
                    $.each(cities, function (index, item) {
                        options += '<option value="' + item.id + '">' + item.area_name + '</option>';
                    });
                    $('#city_code').html(options);
                    layui.form.render('select');
                })
                .catch(function (error) {
                    layer.msg('服务器返回数据错误，请重试');
                })
        });
        form.on('select(city_code)', function(data){
            console.log(data.value); //得到被选中的值
            axios.get('{{ path('admin_regions_districts') }}?city_code=' + data.value)
                .then(function (response) {
                    console.log(response);
                    var options = '<option value="">区/县</option>';
                    var cities = response.data.data;
                    $.each(cities, function (index, item) {
                        options += '<option value="' + item.id + '">' + item.area_name + '</option>';
                    });
                    $('#district_code').html(options);
                    layui.form.render('select');
                })
                .catch(function (error) {
                    layer.msg('服务器返回数据错误，请重试');
                })
        });

        layui.table.on('tool(table)', function (row) {
            var data = row.data;
            if (row.event === 'edit') {
                console.log(row.data);
                show_edit_dialog(row.data);
            } else if (row.event === 'delete') {
                layer.confirm('确认要删除吗？', function (index) {
                    var form_data = {id: data.id, _token: '{{ csrf_token('admin_regions_delete') }}'};
                    axios_form.post('{{ path("admin_regions_delete") }}', form_data)
                        .then(function (response) {
                            if(response.data.msg) {
                                layer.msg(response.data.msg)
                            }

                            if(response.data.status) {
                                reload_table();
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                            layer.msg('服务器未响应，请稍后重试')
                        });
                });
            }
        });

        function reload_table() {
            table.reload('table', {
                where: $('#search-form').serializeJson()
            });
        }

        function show_edit_dialog(data) {
            picker.reset();
            $('#edit-form')[0].reset();

            if (data) {
                if(data.level === '1') {
                    picker.pick({});
                } else if(data.level === '2') {
                    picker.pick({province_code: data.province_code});
                } else if(data.level === '3') {
                    picker.pick({province_code: data.province_code || null, city_code: data.city_code});
                }

                layui.form.val("edit-form", {
                    "id":  data.id
                    , "area_name":     data.area_name
                    , "area_code":     data.area_code
                    , "short_name":     data.short_name
                    , "sort":     data.sort
                    , "zipcode":   data.zipcode
                });
            }

            layer.open({
                title:    data ? '编辑' : '新增',
                type:     1,
                area:     ['600px', 'auto'],
                content:  $('#edit-area'),
                closeBtn: false,
                btn:      ['保存', '取消'],
                yes:      function (index, layero) {
                    var loading = layer.load();

                    axios_form.post('{{ path("admin_regions_save") }}', $('#edit-form').serializeJson())
                        .then(function (response) {
                            layer.close(loading);
                            if(response.data.msg) {
                                layer.msg(response.data.msg)
                            }

                            if(response.data.status) {
                                layer.close(index);
                                $('#edit-area').hide();
                                reload_table();
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                            layer.close(loading);
                            layer.msg('服务器未响应，请稍后重试')
                        });
                },
                btn2:     function (index, layero) {
                    layer.close(index);
                    $('#edit-area').toggle();
                }
            });
        }
    </script>
{% endblock %}
