{% set current_group = app.request.get('group') %}
{% set open_menus = params("open_menus") %}
{% set defaults = app.debug ? {"items": [{"name": "路由" ~ current_route ~ " 没有匹配的项, group=" ~ current_group, "url": ""}]} : [] %}
{% set left_nav = open_menus[current_group]|default(defaults) %}

<div class="layui-side-scroll">
  <ul class="layui-nav layui-nav-tree">
    {#<li class="layui-nav-item">#}
      {#<a href="{{ path('open_dashboard_user_info') }}">#}
        {#<i class="icon iconfont icon-iconwodegongzuotai"></i>#}
        {#<cite>账户信息</cite>#}
      {#</a>#}
    {#</li>#}
    {#<li class="layui-nav-item">#}
      {#<a href="{{ path('open_dashboard_announcements') }}">#}
        {#<i class="icon iconfont icon-gonggao"></i>#}
        {#<cite>平台公告</cite>#}
      {#</a>#}
    {#</li>#}
    {#<li class="layui-nav-item">#}
      {#<a href="{{ path('open_dashboard_operation_logs') }}">#}
        {#<i class="icon iconfont icon-xunhurizhi"></i>#}
        {#<cite>操作日志</cite>#}
      {#</a>#}
    {#</li>#}
    {#{% set open_menus = params('open_menus') %}#}
      {% if left_nav.items is not defined %}
          {% set url = menu_path(left_nav) %}
          <li class="layui-nav-item {{ current_path == url or (left_nav.route is defined and left_nav.route == current_route) ? 'layui-this' : '' }}">
              <a href="{{ url }}">
                  <i class="icon iconfont {{ nav.icon|default('') }}"></i>
                  <cite>{{ left_nav.name }}</cite>
              </a>
          </li>
      {% else %}
          {% for nav in left_nav.items|default([]) %}
              {% if nav.items is not defined %}
                  {% set url = menu_path(nav) %}
                  <li class="layui-nav-item {{ current_path == url or (nav.route is defined and nav.route == current_route) ? 'layui-this' : '' }}">
                      <a href="{{ url }}">
                          <i class="icon iconfont {{ nav.icon|default('') }}"></i>
                          <cite>{{ nav.name }}</cite>
                      </a>
                  </li>
              {% else %}
                  <li class="layui-nav-item layui-nav-itemed">
                      <a href="javascript:;">
                          <i class="icon iconfont {{ nav.icon|default('') }}"></i>
                          <cite>{{ nav.name }}</cite>
                      </a>
                      <dl class="layui-nav-child">
                          {% for item in nav.items %}
                              {% set url = menu_path(item) %}
                              <dd class="{{ current_path == url or (item.route is defined and item.route == current_route) ? 'layui-this' : '' }}">
                                  <a href="{{ url }}" data-id="{% if item.cate_id is defined %}{{ item.cate_id }}{% endif %}">
                                      {{ item.name }}
                                  </a>
                              </dd>
                          {% endfor %}
                      </dl>
                  </li>
              {% endif %}
          {% endfor %}
      {% endif %}
  </ul>
  <div class="layui-copy">Copyright ©2015-{{ 'now'|date('Y') }}你行我动科技</div>
</div>