<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>邮箱地址验证 - 狐豆通行证</title>
    {{ use_assets([
        '/assets/common/js/jquery.min.js',
        '/assets/common/js/axios.min.js',
        '/assets/common/layui/layui.all.js',
        '/assets/common/layui/css/layui.css',
        '/assets/passport/css/login.css',
    ])}}

    <style>
        .layadmin-user-login-main {
            width: 650px;
            margin: 0 auto;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
<div class="layadmin-tabspage-none">
    <div class="layadmin-user-login layadmin-user-display-show">
        <div class="layadmin-user-login-main">
            <div class="layadmin-user-login-box layadmin-user-login-header">
                <h2>邮箱地址验证</h2>
                    <p id="message">{{ message|default('') }}</p>
            </div>
            <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
                <form id="resend-email-form" autocomplete="off">
                    <div class=" ui-toggle ui-toggle-change-email">
                        <div class="layui-form-item" id="error" style="display: {{ error is defined and error ? 'block' : 'none' }}">
                            <div class="foxdou-error-tip">{{ error|default('')|trans }}</div>
                        </div>
                        <div id="email-input-box" style="display: none;">
                            <div class="layui-form-item">
                                <label class="layadmin-user-login-icon layui-icon layui-icon-username"></label>
                                <input type="text" name="old_email" value="" class="layui-input" placeholder="请输入旧邮箱" autocomplete="off" readonly  />
                            </div>
                            <div class="layui-form-item">
                                <label class="layadmin-user-login-icon layui-icon layui-icon-username"></label>
                                <input type="text" name="new_email" value="" class="layui-input" placeholder="请输入新邮箱" autocomplete="off"  readonly  />
                            </div>
                            <div class="layui-form-item">
                                <label class="layadmin-user-login-icon layui-icon layui-icon-password"></label>
                                <input type="password" name="password" value="" class="layui-input" placeholder="请输入当前密码" autocomplete="off" readonly  />
                            </div>
                        </div>
                        {% set target_url = app.request.get('target_url', url('passport_home_index')) %}
                        <div class="layui-form-item ">
                            <button class="layui-btn layui-btn-fluid" type="button" onclick="resend_email();">重新发送验证邮件</button>
                        </div>
                        <div class="layui-form-item " style="margin-bottom: 20px;text-align: center;">
                            <input type="hidden" name="_token" value="{{ csrf_token("resend_activation_email") }}">
                            <input type="hidden" name="target_url" value="{{ target_url }}">
                            <input type="checkbox" name="remember" lay-skin="primary" title="记住密码">
                            <a class="layadmin-link" style="margin-top: 7px;" href="javascript:show_input_box();">更换邮箱地址</a>
                        </div>
                    </div>
                    <div class=" ui-toggle ui-toggle-send-result" style="display: none;">
                        <div class="layui-form-item" style="text-align: center;">
                            <a class="layui-btn layui-btn-normal" style="margin-top: 7px;" href="{{ target_url }}">返回</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="layui-trans layadmin-user-login-footer">
            <p>
                &copy; 2018 &nbsp;
                <a href="http://www.foxdou.cn">foxdou.cn</a>
                <span>广西你行我动科技有限公司</span>
            </p>
        </div>
    </div>
</div>

<script>
    function show_input_box() {
        $('#email-input-box').show();
        $('input').removeAttr('readonly'); // F*CK Google for ignoring autocomplete="off" in Chrome
    }

    function resend_email() {
        var loading = layer.load();
        axios.post('{{ path("passport_register_resend_activation_email") }}', $('#resend-email-form').serialize())
            .then(function (response) {
                layer.close(loading);
                if(response.data.message) {
                    layer.msg(response.data.message);
                    $('#message').show();
                    $('#message').html(response.data.message)
                }

                if(response.data.error) {
                    layer.msg(response.data.error);
                    $('#error').show();
                    $('#error .foxdou-error-tip').html(response.data.error)
                }

                if(response.data.status) {
                    $('.ui-toggle-change-email').hide();
                    $('.ui-toggle-send-result').show();
                }
            })
            .catch(function (error) {
                console.log(error);
                layer.close(loading);
                layer.msg('服务器未响应，请稍后重试')
            });
    }
</script>

</body>
</html>

