{% extends 'Admin/Common/layout.twig' %}
{% import ('/Common/simple_form_helpers_for_layui.html.twig') as sf %}

{% block main_content %}
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-tab layui-tab-brief layadmin-tab" lay-filter="docDemoTabBrief">
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div class="layui-form layui-form-pane layui-card-header layuiadmin-card-header-auto">
                            <div class="layui-form-item">
                                <form action="" method="get" id="product-supplies-list">
                                    {% if product_cate_id == '3' %}
                                    <div class="layui-inline">
                                        <label class="layui-form-label">腾讯业务品类</label>
                                        <div class="layui-input-block">
                                            <select name="category" id="category">
                                                <option value>全部</option>
                                                {% for ten in tencent %}
                                                    <option value="{{ ten.id }}">{{ ten.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <div class="layui-inline">
                                        <label class="layui-form-label">面值类型</label>
                                        <div class="layui-input-block">
                                            {{ sf.select_raw('face_value_type', to_options(constant("App\\ProductConstants::FACE_VALUE_TYPES"), '全部'), {"class": "layui-input"}) }}
                                        </div>
                                    </div>

                                    {% if product_cate_id != '3' %}
                                    <div class="layui-inline">
                                        <label class="layui-form-label">商品适用范围</label>
                                        <div class="layui-input-block">
                                            {{ sf.select_raw('area_name', to_options(constant("App\\ProductConstants::PRODUCT_SALE_REGIONS"), '全部'), {"class": "layui-input"}) }}
                                        </div>
                                    </div>

                                    <div class="layui-inline">
                                        <label class="layui-form-label">运营商类别</label>
                                        <div class="layui-input-block">
                                            {{ sf.select_raw('operator_id', to_options(constant("App\\Constants::CARRIERS"), '全部'), {"class": "layui-input","lay-filter":"operator"}) }}
                                        </div>
                                    </div>

                                    <div class="layui-inline" style="display: none" id="mvno-block">
                                        <label class="layui-form-label">虚拟运营商</label>
                                        <div class="layui-input-block">
                                            <select name="mvno" id="mvno">
                                                <option value>全部</option>
                                                {% for mo in mvno %}
                                                    <option value="{{ mo.id }}">{{ mo.short_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="layui-inline">
                                        <label class="layui-form-label">快充/慢充</label>
                                        <div class="layui-input-block">
                                            {{ sf.select_raw('speed', to_options(constant("App\\ProductConstants::RECHARGE_SPEED_TYPES"), '全部'), {"class": "layui-input"}) }}
                                        </div>
                                    </div>
                                    {% endif %}
                                    <div class="layui-inline">
                                        <label class="layui-form-label">货源启用状态</label>
                                        <div class="layui-input-block">
                                            {{ sf.select_raw('sell_status', to_options(constant("App\\ProductConstants::SETTING_ENABLE_STATUSES"), '全部'), {"class": "layui-input"}) }}
                                        </div>
                                    </div>

                                    <div class="layui-inline">
                                        <label class="layui-form-label">货源审核状态</label>
                                        <div class="layui-input-block">
                                            {{ sf.select_raw('review_status', to_options(constant("App\\ProductConstants::REVIEW_STATUSES"), '全部'), {"class": "layui-input"}) }}
                                        </div>
                                    </div>

                                    <div class="layui-inline">
                                        <label class="layui-form-label">日期范围</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="" class="layui-input" id="timeFrame" placeholder="">
                                            <input type="hidden" name="start_time" id="start_time" value="{{ 'now'|date('Y-m-d') }}">
                                            <input type="hidden" name="end_time" id="end_time" value="{{ 'now'|date('Y-m-d') }}">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">搜索</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="keyword" placeholder="商品名称搜索..." autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <div class="layui-input-block layui-input-block-margin">
                                            <button class="layui-btn layuiadmin-btn-useradmin" onclick="get_data();return false;">
                                                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="layui-card-body">
                            <div style="padding: 5px 0;">
                                <button class="layui-btn layuiadmin-btn-useradmin reverse-select">反选</button>
                                <button class="layui-btn layuiadmin-btn-useradmin site-demo-layer" data-type="setSuccess">审核通过</button>
                                <button class="layui-btn layui-btn-warm layuiadmin-btn-useradmin site-demo-layer" data-type="setFailure">审核不通过</button>
                                <button class="layui-btn layuiadmin-btn-useradmin site-demo-layer" data-type="changeStatus" data-status="1">启用</button>
                                <button class="layui-btn layui-btn-warm layuiadmin-btn-useradmin site-demo-layer" data-type="changeStatus" data-status="0">停用</button>
                                <button class="layui-btn layui-btn-danger site-demo-layer" data-type="delete">删除货源</button>
                            </div>
                            <table class="layui-table" id="product-supplies-table" lay-filter="product-supplies-table">

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script id="actions" type="text/html">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="review">审核</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
    </script>
    <script id="add_time" type="text/html">
        <%#
          var date = new Date();
          date.setTime(d.add_time*1000);
          return date.Format("yyyy-MM-dd hh:mm:ss");
        %>
    </script>
{% endblock %}

{% block extra %}

    <!--此处为弹出层内容star-->
    <div id="review-content" class="layer-demo layui-form" style="display: none;">
        <div class="layui-inline">
            <label class="layui-form-label">审核</label>
            <input type="radio" name="review_status" value="0" title="已下架" checked>
            <input type="radio" name="review_status" value="1" title="已上架">
            <input type="radio" name="review_status" value="2" title="被冻结">
            <input type="radio" name="review_status" value="3" title="待审核">
            <input type="radio" name="review_status" value="4" title="审核拒绝">
        </div>
    </div>
    <!--此处为弹出层内容开始end-->

{% endblock %}

{% block js_end %}
  {% include "/Admin/Audit/product_supplies_js.twig" %}
{% endblock %}
