{% extends 'Admin/Common/layout_main_panel.twig' %}
{% import ('/Common/simple_form_helpers_for_layui.html.twig') as sf %}
{% set title = '用户级别' %}

{% set current_tab = app.request.get('tab', 0) %}

{% block css %}
  <style>
    /*body{overflow-y: scroll;}*/
    .wrapper-content { padding: 0; }
    .layui-table { overflow: hidden; }
    .layui-table-box { overflow: hidden; }
    body { overflow-y: scroll; }
    /* 禁止刷新后出现横向滚动条 */
    .layui-table-cell { padding: 0 4px; }
    .layui-table-view .layui-table td, .layui-table-view .layui-table th { padding: 4px 0; text-align: center; }
  </style>
{% endblock %}

{% block extra %}
  <div id="edit_dialog" class="edit_dialog" style="display: none; padding: 20px 20px 0px 20px;">
    <form id="edit_form">
      <div class="input-group m-b"><span class="input-group-addon">请输入级别名称：</span>
        <input class="form-control level_name" id="name" name="name" placeholder="级别名称：" type="text" required>
      </div>
      <div class="input-group m-b"><span class="input-group-addon">请输入级别备注：</span>
        <input class="form-control level_info" id="info" name="info" placeholder="可选填" type="text">
      </div>
      {% if current_tab == 0 %}
        <div class="input-group m-b"><span class="input-group-addon">请选择平台：</span>
          {{ sf.select(form.platform_id, to_options(constant("App\\Platform::PLATFORMS"), '全部'), {"class": "form-control"}) }}
        </div>
      {% else %}
        <input type="hidden" id="pintai" name="pintai" value="{{ current_tab }}">
      {% endif %}
      <input type="hidden" id="id" name="id" value="">
      <input type="hidden" name="_token" value="{{ csrf_token("edit_level") }}">
      <div class="input-group m-b" id="copy_level">
        <span class="input-group-addon">选择复制的级别：</span>
        <select name="synchro_level" id="synchro_level" class="form-control">

        </select>
      </div>
    </form>
  </div>

{% endblock %}

{% block main_content %}
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>用户级别
            <small>管理列表</small>
          </h5>
        </div>
        <div class="ibox-content">
          <form id="form">
          {% include "Admin/UserSubAccountLevel/tabs.twig" with {"tabs": [0, 1, 2, 3, 4, 5, 6]} %}
          <div style="overflow-x: auto;width:100%">
            <input type="button" id="btn-add" value="新增级别" class="btn btn-primary" style="" onclick="open_edit_panel(null);return false;">
          </div>
          <div style="overflow-x: auto;width:100%">
            <table class="layui-hide f-fl" id="table"></table>
          </div>

          <div class="m-table g-bdc">
            <table class="" id="data-table" lay-filter="row-actions" style="width: 100%;overflow: hidden"></table>
          </div>
            <input type="hidden" id="select-pintai" name="tab" value="{{ current_tab }}">
          </form>
        </div>
      </div>
    </div>
  </div>

  <script type="text/html" id="actions">
      <%#  if(d.default == ""){ %>
        <a class="layui-btn layui-btn-xs" lay-event="set_default">设为默认级别</a>
      <%#  } else { %>
        <a class="layui-btn layui-btn-xs layui-btn-disabled" lay-event="">设为默认级别</a>
      <%#  } %>

    <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    {#<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>#}
  </script>

  <script>
      var url     = "";
      var columns = [
        [
          {"field": "id", "title": "ID", "width": 50},
          {"field": "name", "title": "级别名称", "width": 250},
          {"field": "platform_name", "title": "平台", "width": 250},
          {"field": "default", "title": "平台的默认级别	", "width": 120},
          {"field": "info", "title": "备注"},
          {"field": "actions", "title": "操作", "width": 200, "toolbar": "#actions"}
        ]
      ];

//      layui.config({
//          open: '<%',
//          close: '%>'
//      });
      layui.use('table', function () {
          get_data(url, columns);
      });

      function get_data() {
          var params = $('#form').serialize();
          url        = '?' + params;
          rander_table('#data-table', url, columns);
      }

      function rander_table(elem, url, columns) {
          layui.table.render({
              elem:   elem
//                ,cellMinWidth: 80
              , url:  url
              , cols: columns
              , page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                  layout:   ['prev', 'page', 'next', 'skip', 'limit', 'count'] //自定义分页布局
                  , limits: [10, 25, 50, 100]
              }
              , id:   "id"
              , text: "暂无相关数据"
          });








          layui.table.on('tool(row-actions)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
              var data     = obj.data; //获得当前行数据
              var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
              var tr       = obj.tr; //获得当前行 tr 的DOM对象

              if (layEvent === 'set_default') {
                  $.post('{{ path('admin_users_levels_save') }}', {"id": data.id, "default": 1, "_token": "{{ csrf_token("edit_level") }}"}, function (data) {
                      if (data.status) {
                          location.reload();
                      } else {
                          layer.msg(data.msg);
                      }
                  });
              } else if (layEvent === 'edit') {
                  $('#copy_level').hide();
                  open_edit_panel(data);
              {#} else if (layEvent === 'delete') {#}
                  {#$.post('{{ path('admin_users_levels_delete') }}', {"id": data.id}, function (data) {#}
                      {#if (data.status) {#}
                          {#location.reload();#}
                      {#} else {#}
                          {#layer.msg(data.msg);#}
                      {#}#}
                  {#});#}
              }
          });
      }

      function open_edit_panel(data) {
          $('#id').val(data ? data.id : "");
          $('#name').val(data ? data.name : "");
          $('#info').val(data ? data.info : "");
          $('#pintai').val(data ? data.pintai : "");

          layer.open({
              type:1,
              closeBtn: 1,
              area: ['480px', '320px'], //宽高
              skin: 'layui-layer-molv',
              btn:      ['确定', '取消'],
              content:  $('#edit_dialog'),
              yes: function (index, layero) {
                  var params = $('#edit_form').serialize();
                  $.post('{{ path('admin_users_levels_save') }}', params, function (data) {
                      if (data.status) {
                          layer.msg('保存成功');
                          location.reload();
                      } else {
                          layer.msg(data.msg);
                      }
                  }).fail(function() {
                      layer.msg('请求失败，请重试');
                  });
              }
          });
      }

      //        $('#query').click(function (e) {
      //            get_data();
      //            e.preventDefault();
      //            return false;
      //        });

      //        $('#icp li').click(function () {
      //            $(this).addClass('tab-this');
      //            $(this).siblings().removeClass('tab-this');
      //            var icp=$(this).attr('value');
      //            $('#icp_value').val(icp==''?'':icp);
      //            get_order_data();
      //        });
      //    });
  </script>

{% endblock %}
