<div class="m-ad">
    <img src="{{ asset('/assets/open/frontpage/images/20180124.jpg') }}" />
</div>
<div class="left-side">
    <div class="m-info">
        <div class="m-info-title">
            <h2><strong class="s-darkgray">推荐接口</strong></h2>
        </div>
        <div class="m-info-content">
            <ul class="m-info-list clearfloat">
                <li class="list-belt">
                    <a href="{{ path('open_interface_mobile') }}">
                        <div class="list-pic">
                            <img src="{{ asset('/assets/open/frontpage/images/sjhfcz.png') }}" />
                        </div>
                        <div class="list-info">
                            <p>手机话费充值</p>
                            <p class="f-fs-12 s-gray1">移动联通电信虚拟运营商话费快速充值，适合各种网站、电商平台，个人、企业均可，移动联通电信虚拟运营商话费快速充值，</p>
                        </div>
                    </a>
                </li>
                <li class="list-belt">
                    <a href="{{ path('open_interface_flow') }}">
                        <div class="list-pic">
                            <img src="{{ asset('/assets/open/frontpage/images/txyw.png') }}" />
                        </div>
                        <div class="list-info">
                            <p>腾讯业务充值</p>
                            <p class="f-fs-12 s-gray1">Q币、QQ黄钻、QQ会员等腾讯业务充值</p>
                        </div>
                    </a>
                </li>
                <li class="list-belt">
                    <a href="{{ path('open_interface_tencent') }}">
                        <div class="list-pic">
                            <img src="{{ asset('/assets/open/frontpage/images/ghkdcz.png') }}" />
                        </div>
                        <div class="list-info">
                            <p>固话充值</p>
                            <p class="f-fs-12 s-gray1">全国电信固话宽带充值</p>
                        </div>
                    </a>
                </li>
                <li class="list-belt">
                    <a href="{{ path('open_interface_telephone') }}">
                        <div class="list-pic">
                            <img src="{{ asset('/assets/open/frontpage/images/sjllcz.png') }}" />
                        </div>
                        <div class="list-info">
                            <p>手机流量充值</p>
                            <p class="f-fs-12 s-gray1">即时快速到账，永绝后患！</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>