<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="ie-stand">
    <link rel="stylesheet" href="//foxdou-public-read.oss-cn-shenzhen.aliyuncs.com/sup/css/login.css" />
    <link rel="stylesheet" href="//foxdou-public-read.oss-cn-shenzhen.aliyuncs.com/sup/css/font-icon/iconfont.css" />

    {{ use_assets([
        '/assets/common/layui/css/layui.css',
        '/assets/common/js/jquery.min.js',
        '/assets/common/layui/layui.all.js',
    ]) }}

    <title>登录-供应商用户中心</title>
    <style type="text/css">
        .layui-form-item label{width: 150px;}
    </style>
</head>
<body style="overflow-y:hidden;overflow-x: hidden;">
<div id="particles-js">
    <canvas style="width: 100%; height: 100%; min-height:1000px;" width="1920" height="1000"></canvas>
</div>
<div class="content">
    <div class="loginBg">
        <div class="loginBox">
            <div class="login">
                <div class="loginView"></div>
                <div class="loginFrame">
                    <pre>供应商后台登录</pre>
                </div>
                <form action="{{ url('passport_login') }}" class="inputGroup" method="post">
                    <p>
                        <i class="icon iconfont icon-zhanghu"></i>
                        <input type="text" name="username" value="{{ last_username }}" placeholder="请输入您的登录帐号"/>
                    </p>
                    <p>
                        <i class="icon iconfont icon-password"></i>
                        <input type="password" name="password" value="" placeholder="请输入您的登录密码"/>
                    </p>
                    {% if error %}
                        <p>{{ error.message|trans }}</p>
                    {% endif %}
                    <input type="hidden" name="_target_path" value="{{ path('supplier_dashboard_index') }}" />
                    <input type="hidden" name="_token" value="{{ csrf_token('authenticate') }}" />

                    <button type="submit">登&nbsp;录</button>
                </form>
                <div class="loginPro">
                    <a href="//safe.foxdou.com/safe/user-inspect?operation=5" target="_blank">忘记密码？立即找回</a>
                    <a href="{{ url('passport_register') }}" target="_blank">注册&gt;&gt;</a>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
</script>
</body>
</html>