{% extends 'Supplier/Common/layout.twig' %}
{% import ('/Common/simple_form_helpers_for_layui.html.twig') as sf %}

{% block main_content %}
    <div class="foxdou-row foxdou-row-notm">
        <div class="foxdou-form-row" style="margin-left: 200px;">
            <form class="layui-form layui-form-pane" action="" id="template-list">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">商品类型</label>
                        <div class="layui-input-block foxdou-select-length">
                            {{ sf.select_raw('product_cate_id', to_options(constant("App\\Constants::PRODUCT_CATEGORIES"), '全部'), {"class": "layui-input"}) }}
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">自动退款</label>
                        <div class="layui-input-block foxdou-select-length">
                            {{ sf.select_raw('auto_refund', to_options(constant("App\\Common\\Model\\Product\\SourceGroup::AUTO_REFUND_STATUSES"), '全部'), {"class": "layui-input"}) }}
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">模板状态</label>
                        <div class="layui-input-block foxdou-select-length">
                            {{ sf.select_raw('status', to_options(constant("App\\Common\\Model\\Product\\SourceGroup::STATUSES"), '全部'), {"class": "layui-input"}) }}
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">供货方式</label>
                        <div class="layui-input-block foxdou-select-length">
                            {{ sf.select_raw('supply_type', to_options(constant("App\\Common\\Model\\Product\\SourceGroup::SUPPLY_TYPES"), '全部'), {"class": "layui-input"}) }}
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">日期范围</label>
                        <div class="layui-input-block">
                            <input type="text" name="" class="layui-input" id="timeFrame" placeholder="">
                            <input type="hidden" name="start_time" id="start_time" value="{{ 'now'|date('Y-m-d') }}">
                            <input type="hidden" name="end_time" id="end_time" value="{{ 'now'|date('Y-m-d') }}">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">模板名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" placeholder="请输入模板名称" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">模板编号</label>
                        <div class="layui-input-block">
                            <input type="text" name="id" placeholder="请输入模板编号" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            <input type="text" name="info" placeholder="请输入备注信息" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-normal" onclick="get_data();return false;">立即查询</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="foxdou-table-page" style="padding: 15px;margin-left: 200px;">
            <div class="layui-form-item">
                <div class="layui-inline foxdou-left">
                    <button class="layui-btn layui-btn-sm layui-btn-normal" id="negative">反选</button>
                    <button class="layui-btn layui-btn-sm layui-btn-success" id="add">新增</button>
                    <button class="layui-btn layui-btn-sm layui-btn-success" id="enable">启用</button>
                    <button class="layui-btn layui-btn-sm layui-btn-warm" id="disable">停用</button>
                    <button class="layui-btn layui-btn-sm layui-btn-danger" id="delete">删除</button>
                </div>
            </div>
            <table class="layui-table" id="template-list-table" lay-filter="template-list-table">

            </table>
        </div>
    </div>
    <script id="actions" type="text/html">
        <div class="layui-btn-container">
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail">模板下商品</a>
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
        </div>
    </script>
    <script id="add_time" type="text/html">
          <%#
          var date = new Date();
          date.setTime(d.add_time*1000);
          return date.Format("yyyy-MM-dd hh:mm:ss");
          %>
        </script>
{% endblock %}

{% block extra %}

    <style type="text/css">
        /*局部样式*/
        .layadmin-layer-content {
            padding: 15px 30px 0 30px;
        }
        .layadmin-td-head {
            padding: 8px 10px!important;
            font-weight: bold;
            color: #444;
        }
        .layadmin-td-title {
            padding-right: 15px!important;
            text-align: right;
            color: #999;
            background-color: #fcfcfc;
        }
        .layadmin-td-img img {
            width: 100px;
            height: 80px;
            box-sizing: border-box;
            margin: 5px 3px;
            cursor: pointer;
        }
        .layadmin-td-img img:hover {
            border: 2px solid #5FB878;
        }
    </style>

    <!--此处为弹出层内容star-->
    <div id="template" class="layadmin-layer-content" style="display: none;padding-left: 0px;">
        <form class="layui-form" action="">
            <input type="hidden" id="csrf_token" name="_token" value="{{ csrf_token('supplier_product_source_groups_add_template') }}">
            <div class="layui-form-item">
                <label class="layui-form-label">模板名称</label>
                <div class="layui-input-block">
                    <input type="text" name="name" id="name" required lay-verify="required" placeholder="请输入模板名称" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">商品类型</label>
                <div class="layui-input-block">
                    <input type="radio" class="product_cate_id" name="product_cate_id" value="1" title="手机话费充值" checked>
                    <input type="radio" class="product_cate_id" name="product_cate_id" value="10" title="固话充值">
                    <input type="radio" class="product_cate_id" name="product_cate_id" value="3" title="腾讯业务充值">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">自动退款</label>
                <div class="layui-input-block">
                    <input type="radio" class="auto_refund" name="auto_refund" value="1" title="是" checked>
                    <input type="radio" class="auto_refund" name="auto_refund" value="0" title="否">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">供货方式</label>
                <div class="layui-input-block">
                    <input type="radio" class="supply_type" name="supply_type" value="1" title="接口" checked>
                    <input type="radio" class="supply_type" name="supply_type" value="2" title="卡密">
                    <input type="radio" class="supply_type" name="supply_type" value="3" title="人工">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">模板启用状态</label>
                <div class="layui-input-block">
                    <input type="radio" class="status" name="status" value="1" title="启用" checked>
                    <input type="radio" class="status" name="status" value="0" title="停用">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea name="info" id="info" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div>
            {#<div class="layui-form-item">#}
                {#<div class="layui-input-block">#}
                    {#<button class="layui-btn" lay-submit="" lay-filter="formDemo">确定</button>#}
                    {#<button class="layui-btn">返回</button>#}
                {#</div>#}
            {#</div>#}
        </form>
    </div>
    <!--此处为弹出层内容开始end-->

{% endblock %}

{% block js_end %}
    {% include "/Supplier/ProductSourceGroup/index_js.twig" %}
{% endblock %}
