{% extends 'Reseller/Common/layout.twig' %}
{% import ('/Common/simple_form_helpers_for_layui.html.twig') as sf %}

{% set title = '我的财务-我要转账' %}

{% block title %}
  {{ title }}
{% endblock %}
{% block css %}
  <style type="text/css" href="//foxdou-public-read.oss-cn-shenzhen.aliyuncs.com/agent/css/transfer.css"></style>
  <style type="text/css">
    .panel-item {
      float: left;
      width: calc(100% - 380px);
      height: auto;
      box-sizing: border-box;
      border-radius: 2px;
      margin-bottom: 20px;
      background: #FFFFFF;
    }

    .m-information {
      width: auto;
      height: 55px;
      box-sizing: border-box;
      padding: 0 20px;
      border-radius: 2px;
      border-bottom: 1px solid #E0E0E0;
      line-height: 55px;
      background: #FFFFFF;
      color: #333333;
    }

    .m-table table th {
      background: #F0F0F0;
      font-weight: normal;
      line-height: 30px;
      font-size: 14px;
      color: #333333;
    }

    .m-table table tr {
      padding: 5px 10px;
      line-height: 20px;
    }

    .m-table table td {
      padding: 5px 10px;
      line-height: 20px;
    }

    .financial-item .contact-icon {
      width: 30px;
      height: 20px;
      line-height: 24px;
      font-size: 24px;
      color: #2CA9E1;
      cursor: pointer;
    }
  </style>
{% endblock %}

{% block main_content %}
  <div class="panel-item" style="min-height: 400px;">
    <div class="m-information">
      <span>账户余额：<span class="f-fs-16 s-orange">{{ app.user.resellerAccount.balance|default(0)|number_format(2) }}</span>元</span>
      <a href="{{ path("reseller_finance_trade_logs", {"trade_type": 502}) }}" class="s-blue" style="margin: 0 30px;">查看转账记录</a>
    </div>
    <div class="financial-item" style="padding-top: 15px;">
      <div class="layui-form">
            {{ sf.text(form.recipient_id, '收款帐号', {"autocomplete": "off"}) }}
            {{ sf.text(form.recipient_name, '账户姓名', {"autocomplete": "off"}) }}
            {{ sf.text(form.amount, '转账金额', {"autocomplete": "off"}) }}
            {{ sf.text(form.amount_confirm, '确认金额', {"autocomplete": "off"}) }}
            {{ sf.textarea(form.note, '备注', {'placeholder': '可根据您的需求，自定义输入内容（可空）'}) }}

        {{ sf.submit('确认转账', {}, {"onclick": "sub();"}) }}
      </div>
    </div>
  </div>
  {% include "Reseller/Common/_rightPanel.twig" %}

  <!-- 转账给好友店铺 -->
  <div class="demo-warning" style="display: none;">
    <form class="layui-form" action="">
      <div class="layui-form-item">
        <label class="layui-form-label">店铺名称</label>
        <div class="layui-input-inline">
          <input name="title" lay-verify="title" autocomplete="off" placeholder="请输入好友店铺名称关键字" class="layui-input f-fnsna" type="text">
        </div>
        <div class="layui-input-inline">
          <button class="layui-btn f-fnsna">确认转账</button>
        </div>
      </div>
    </form>
    <div class="m-table" style="margin-top: 20px;">
      <table>
        <thead>
        <tr>
          <th>狐豆帐号</th>
          <th>店铺名称</th>
          <th>联系人</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>s12345613</td>
          <td>广西移动</td>
          <td>某某</td>
          <td>
            <a href="#">选择</a>
          </td>
        </tr>
        <tr>
          <td>s12345613</td>
          <td>广西移动</td>
          <td>某某</td>
          <td>
            <a href="#">选择</a>
          </td>
        </tr>
        <tr>
          <td>s12345613</td>
          <td>广西移动</td>
          <td>某某</td>
          <td>
            <a href="#">选择</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div class="layer-content " id="pay_password_dialog">
    <div class="layui-input-block">
      <input type="password" value="" name="" placeholder="请输入支付密码" id="pay_password" class="layui-input"/>
      <div class="layui-form-mid">
        <span id="indicator_pay_password" class="indicator"></span>
      </div>
    </div>
    <div class="layer-btn">
      <button type="button" id="btn_transfer_confirm" class="layui-btn layui-btn-normal layui-btn-sm">确定</button>
      <button type="button" id="btn_cancel" class="layui-btn layui-btn-primary layui-btn-sm">取消</button>
    </div>
  </div>

  <script type="text/javascript" src="//foxdou-public-read.oss-cn-shenzhen.aliyuncs.com/common/js/jquery.md5.js"></script>
  <!-- /转账给好友店铺 -->
  <script type="text/javascript">
      var inspect_recipient = false;
      layui.use('form', function () {
          var form = layui.form
              , layer = layui.layer
      });

      $('#recipient_id').change(function () {
          var recipient_id = $(this).val()
          if (recipient_id === "") {
              return;
          }

          $('.tips_recipient_id').html('正在查询该用户信息...');
          $.ajax('{{ path("reseller_finance_check_user") }}', {
              data: {username: recipient_id}
              , success: function (data) {
                  if (data.code === "SUCCEED") {
                      inspect_recipient = true;
                      $('.tips_recipient_id').html('<span style="color: green;">' + data.msg + '</span>');
//                      $('#recipient_name').val(data.recipient_name);
                      $('#recipient_name').focus();
                  } else {
                      inspect_recipient = false;
                      $('.tips_recipient_id').html('<span style="color: red;">' + data.msg + '</span>');
//                      $('#recipient_name').val("");
                  }
              }
              , error: function () {
                  inspect_recipient = false;
                  $('.tips_recipient_id').html('<span style="color: red;">系统繁忙，请稍后再试</span>');
//                  $('#recipient_name').val("");
              }
          })
      });

      var transfer_box;
      function sub() {
          $('.indicator').html("");

          if (!check_data()) {
              return false;
          }
          $('#pay_password').val('');
          transfer_box = layer.open({
              type: 1
              , title: ['请输入支付密码，转账给好友店铺', 'font-size:14px;font-weight:bold;'] //不显示标题栏
              , closeBtn: 1
              , area: ['400px']
              , shade: 0.6
              , moveType: 1 //拖拽模式，0或者1
              , content: $('#pay_password_dialog')
          });
      }
      $('#btn_transfer_confirm').click(function () {
          transfer_do();
      });
      $('#btn_cancel').click(function () {
          layer.close(transfer_box);
      });

      function transfer_do() {
          var data = check_data();
          if (!data) {
              return false;
          }
          var pay_password = $('#pay_password').val().trim();
          if (!pay_password) {
              layer.msg('请先输入转账密码');
              return false;
          }
          data.pay_password = pay_password;

          $('.indicator').html("");
          $('#pay_password').val('');
          $(this).attr('disabled', 'true');
          $.ajax('{{ path("reseller_finance_transfer_confirm") }}', {
              type: 'post'
              , data: data
              , success: function (data) {
                  $('#btn_transfer_confirm').removeAttr('disabled');

                  if (data.code === "SUCCEED") {
                      layer.close(transfer_box);
                      clear_form_val();
                      layer.open({
                          title: '温馨提醒'
                          , content: '您的转账已经成功，您可以'
                          , btn: ['查看转账记录', '继续转账']
                          , yes: function () {
                              location.href = '{{ path("reseller_finance_trade_logs", {"trade_type": 502}) }}';
                          }
                      });
                      return;
                  }

                  if(data.errors) {
                      $.each(data.errors, function (field, errorMsg) {
                          $(".indicator_" + field).html('<span style="color: red;">' + errorMsg + '</span>');
                      });

                      // 仅仅是转账密码错误的话，不关闭转账密码对话框，方便用户重新输入
                      if(data.errors.pay_password && Object.keys(data.errors).length === 1) {
                          return;
                      }
                  }

                  layer.close(transfer_box);
                  layer.msg(data.msg);

                  return false;
              }
              , error: function () {
                  layer.close(transfer_box);
                  layer.msg('系统繁忙，请稍候再试');
                  $('#btn_transfer_confirm').removeAttr('disabled');

              }
          });
      }

      function check_data() {
          if (!inspect_recipient) {
              layer.msg('请填写正确的收款帐号');
              return false;
          }
          var recipient_id = $('#recipient_id').val();
          var recipient_name = $('#recipient_name').val();
          var amount = $('#amount').val();
          var amount_confirm = $('#amount_confirm').val();
          var note = $('#note').val();

          if (!recipient_id) {
              layer.msg('请填写对方收款帐号');
              return false;
          }
          if (!recipient_name) {
              layer.msg('请填写对方帐号姓名');
              return false;
          }
          if (!amount) {
              layer.msg('请填写转账金额');
              return false;
          }
          if (!amount_confirm) {
              layer.msg('请填写确认转账金额');
              return false;
          }
          if (amount !== amount_confirm) {
              layer.msg('转账金额和确认转账金额不一致');
              return false;
          }

          return {
              _token: '{{ csrf_token("reseller_transfer") }}',
              recipient_id: recipient_id,
              recipient_name: recipient_name,
              amount: amount,
              amount_confirm: amount_confirm,
              note: note
          };
      }


      function clear_form_val() {
          $('#recipient_id').val('');
          $('#recipient_name').val('');
          $('#amount').val('');
          $('#amount_confirm').val('');
          $('#note').val('');
          $('#indicator').html('<span style="color: red">请输入对方收款帐号</span>');
      }

      layui.use('layer', function () { //独立版的layer无需执行这一句
          var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句

          //触发事件
          var active = {
              warning: function () {
                  //预警设置层
                  layer.open({
                      type: 1
                      , title: ['转账给好友店铺', 'font-size:14px;font-weight:bold;'] //不显示标题栏
                      , closeBtn: 1
                      , area: '600px;'
                      , shade: 0.6
                      , id: 'LAY_layuipro' //设定一个id，防止重复弹出
                      , moveType: 1 //拖拽模式，0或者1
                      , content: $('.demo-warning')
                      , success: function (layero) {
                          var btn = layero.find('.layui-layer-btn');
                          btn.css('text-align', 'center');
                          btn.find('.layui-layer-btn0').attr({
                              href: 'http://www.layui.com/'
                              , target: '_blank'
                          });
                      }
                  });
              }
          };
          $('.site-demo-layer').on('click', function () {
              var type = $(this).data('type');
              active[type] ? active[type].call(this) : '';
          });
      });
  </script>

{% endblock %}
