{% extends 'Supplier/Common/layout.twig' %}
{% import ('/Common/simple_form_helpers_for_layui.html.twig') as sf %}

{% block main_content %}
    <div class="foxdou-row foxdou-row-notm">
        <div class="foxdou-form-row" style="margin-left: 200px;">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="foxdou-row foxdou-row-notm">
                        <div class="foxdou-api-info">
                            <h2>你好！<span style="color: #009688">{{ account.name }}</span></h2>
                            <div class="foxdou-api-money">
                                <i class="icon iconfont icon-yue"></i>
                                <span>账户可用余额（元）：</span>
                                <span class="money">{{ account.balance|default(0) }}</span>

                                <span>提现中金额（元）：</span>
                                <span class="money">{{ account.drawing_amount|default(0) }}</span>

                                <span>冻结金额（元）：</span>
                                <span class="money">{{ account.freeze_amount|default(0) }}</span>

                                <span>押金余额（元）：</span>
                                <span class="money">{{ account.cash_pledge|default(0) }}</span>
                            </div>

                        </div>
                        <div class="foxdou-table-page">

                            <div class="layui-form-item">
                                <div class="layui-inline foxdou-left">
                                    <h3>
                                        <strong>最近交易记录</strong>
                                        <span class="foxdou-th-item" style="margin-left: 10px;color: #009688">
                                            <a href="{{ path('supplier_finance_trade_list') }}">更多</a>
                                        </span>
                                    </h3>
                                </div>
                            </div>

                            <table class="layui-table" id="page-table" lay-filter="page-table">

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script id="add_time" type="text/html">
              <%#
              var date = new Date();
              date.setTime(d.add_time*1000);
              return date.Format("yyyy-MM-dd hh:mm:ss");
          %>
        </script>
    <script type="text/html" id="actions">
        {#<a class="layui-btn layui-btn-success layui-btn-xs" lay-event="detail">详情</a>#}
    </script>
{% endblock %}

{% block extra %}

    <style type="text/css">
        /*api账户信息-在线充值*/
        .foxdou-api-info {padding: 20px 10px 25px 20px; border-bottom: 2px dashed #E0E0E0;}
        .foxdou-api-money {padding: 15px 0 8px 0; color: #666;}
        .foxdou-api-money .icon {font-size: 18px;}
        .foxdou-api-money .money {margin: 0 10px; font-size: 20px; color: #F07E05;}
        .foxdou-api-money .layui-btn {position: relative; top: -4px; height: 28px; line-height: 28px; padding: 0 10px; margin-left: 20px;}

        /*表格单元格-标题行th*/
        .foxdou-th-title {}
        .foxdou-th-title h3 {display: inline-block; margin-right: 30px; color: #2B3B52;}
        .foxdou-th-title .foxdou-th-item {color: #1E9FFF; cursor: pointer;}
        .foxdou-th-title .spacer {position: relative; top: 2px; display: inline-block; margin: 0 8px; width: 1px; height: 14px; background-color: #999; cursor: default;}
    </style>
{% endblock %}

{% block js_end %}
    {% include "/Supplier/Finance/index_js.twig" %}
{% endblock %}
