{% extends ('/Admin/Common/layout.twig') %}
{% import ('/Common/simple_form_helpers_for_layui.html.twig') as sf %}

{% set title = '编辑 - 文章管理' %}

{% block css %}
    <style>
        .inner_portal_id, .inner_cate_id, .inner_source {width: 120px !important;}
    </style>
{% endblock %}

{% block main_content %}
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-form layui-form-pane layui-card-header layuiadmin-card-header-auto">
                <h1>{{ form.id.value ? '编辑文章' : '新增文章' }}</h1>
            </div>
            <div class="layui-card-body">
                <form class="layui-form" id="form" lay-filter="form">
                    <div class="layui-fluid">
                        <div class="layui-row">
                            <div class="layui-col-md9">
                                    <div class="layui-row">
                                        <div class="layui-form-item">
                                        {{ sf.select(form.portal_id, '平台', to_options('App\\Platform::PLATFORMS', "平台"), {'outer': null}, {'id': 'all_portals', ' lay-filter': "portal_id"}) }}
                                        {{ sf.select(form.cate_id, '类别', to_options({}, "类别"), {'outer': null}) }}
                                        {{ sf.text(form.source, '文章来源', {'outer': null}) }}
                                        </div>
                                    </div>
                                    <div class="layui-row">
                                        <div class="layui-form-item">
                                        {{ sf.textarea(form.abstract, '摘要', {'outer': null}, {'placeholder': '请输入文章的摘要，200字以内', 'style': 'height: 70px;min-height: 50px;'}) }}
                                        </div>
                                    </div>

                            </div>
                            <div class="layui-col-md3">
                                <div class="layui-form-item" style="width: 350px;">
                                    <label class="layui-form-label">题图</label>
                                    <div class="layui-input-inline" style="text-align: left;font-size: 9pt;">
                                        <div id="dropzone" class="dropzone" style="width: 170px; ">
                                            <div class="dz-message needsclick">
                                                <h3>点击这里<br>或拖图片到这里来上传</h3><br>
                                                <span class="note needsclick">最多能上传 1 个文件<br>最大 {{ (params('admin_article_max_upload_file_size')/1024/1024)|number_format(1) }}
                                                    MiB</span>
                                            </div>
                                        </div>

                                        {{ sf.hidden(form.cover_image_id) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{ sf.text(form.title, '标题', {'inner': 'block'}) }}
                    {{ sf.textarea(form.content, '摘要', {}, {'id': 'content', 'placeholder': '请输入文章内容', 'style': 'height: 0px;min-height: 0px;'}) }}
                    {{ sf.checkbox(form.published, '标题', {'1': '已发布'}, {}, {'lay-skin': 'switch', 'lay-text': '已发布|未发布'}) }}

                    {{ sf.rest(form) }}
                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-block">
                            <button type="button" class="layui-btn layui-btn-normal" onclick="save_article(false);">保存</button>
                            <button type="button" class="layui-btn layui-btn-normal" onclick="save_article(true);">保存后新建</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}

{% block js_end %}
    {{ use_assets([
    '/assets/common/components/tinymce/tinymce.min.js',
    '/assets/common/components/dropzone/dropzone.js',
    '/assets/common/components/dropzone/dropzone.css',
    '/assets/common/js/common-verify.js',
    '/assets/common/css/font-icon.css',
    ]) }}

    <script>
        var UPLOAD_URL     = "{{ oneup_uploader_endpoint('admin_article') }}";
        var DELETE_URL     = "{{ url('admin_file_upload_delete') }}";
        var existingCovers = [{{ article.get_cover_image_info(true)|json_encode|raw }}];

        {% verbatim %}
        var dictMaxFilesExceeded = '最多上传 {{maxFiles}} 个文件';
        {% endverbatim %}
        Dropzone.autoDiscover = false;
        $(document).ready(function () {
            $("#dropzone").dropzone({
                url: UPLOAD_URL,
                acceptedFiles: "image/jpeg, image/png, image/gif, image/bmp",
                addRemoveLinks: true,
                uploadMultiple: true,
                parallelUploads: 1,
                maxFiles: 2,
                method: 'post',
                dictInvalidFileType: '不支持的文件类型',
                dictFallbackMessage: '你的浏览器版本过低，不支持上传文件，建议使用谷歌浏览器或者 360 安全浏览器',
                dictRemoveFile: '删除',
                dictMaxFilesExceeded: dictMaxFilesExceeded,
                init: function() {
                    var self = this;
                    if (existingCovers) {
                        $.each(existingCovers, function(key, cover) {
                            if(!cover) {
                                return;
                            }

                            var mockFile = {
                                id: cover.id,
                                name: cover.name,
                                size: cover.size,
                                // type: cover.type,
                                status: Dropzone.ADDED,
                                url: cover.url
                            };

                            // Call the default addedfile event handler
                            self.emit("addedfile", mockFile);
                            // And optionally show the thumbnail of the file:
                            self.emit("thumbnail", mockFile, mockFile.url);
                            self.emit("complete", mockFile);
                            self.files.push(mockFile);
                        });
                    }

                },
                success:        function (file, response) {
                    var previewElement = $(file.previewElement);
                    if(response['success']) {
                        file.previewElement.classList.add("dz-success");
                        previewElement.data('file_id', response['id']);
                        $('#cover_image_id').val(response['id']);
                        console.log("Successfully uploaded :" + response);
                    } else {
                        console.log("upload failed :" + response);
                        var error = response['error'] ? response['error'] : '上传失败';
                        // previewElement.children('.dz-error-message').children('span').html(errorMessage)
                        this.emit('error', file, error);
                    }
                },
                // addedfile: function(file, abc) {
                //     var previewElement = $(file.previewElement);
                //     previewElement.data('file_id', file.id);
                // },
                // error: function(file, errorMessage) {
                //     var previewElement = $(file.previewElement);
                //     previewElement.children('.dz-error-message').children('span').html(errorMessage)
                // },
                removedfile: function(file) {
                    var previewElement = $(file.previewElement);
                    var fileId = previewElement.data('file_id');
                    if(!fileId) {
                        previewElement.remove();
                        return;
                    }

                    $.post(DELETE_URL, {file_id: fileId}, function(result) {
                        if(result.status) {
                            previewElement.remove();
                        } else {
                            var error = result.msg ? result.msg : '删除失败';
                            layer.msg(error);
                            previewElement.children('.dz-error-message').children('span').html(error)
                        }
                    })
                }
            });
        });

        function save_article(saveAndContinue) {
            tinymce.triggerSave();

            var data = $('#form').serialize();

            $.post('{{ path('admin_system_administration_articles_save') }}', data, function (result) {
                if (result.msg) {
                    layer.msg(result.msg);
                }

                if (result.status) {
                    if (saveAndContinue) {
                        window.location = '{{ path('admin_system_administration_articles_edit') }}';
                    }

                    if (result.id) {
                        $('#id').val(result.id);
                    }

                    return;
                }

                if (result.errors) {
                    $.each(result.errors, function (key, errorMsg) {
                        createAlertMsg($('#' + key), errorMsg, false);
                    });
                }
            });
        }

        $(document).ready(function () {
            tinymce.init({
                selector:           '#content',
                theme:              "modern",
                width:              'auto',
                height:             300,
                menubar:            false,
                font_formats:       "微软雅黑=微软雅黑;宋体=宋体;黑体=黑体;仿宋=仿宋;楷体=楷体;隶书=隶书;幼圆=幼圆;Courier New=courier new,courier,monospace;",
                language:           'zh_CN',
                branding:           false,
                content_css:        "{{ asset('/assets/common/layui/css/layui.css') }}",
                plugins:            [
                    "autolink link image lists charmap preview hr anchor pagebreak",
                    "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime nonbreaking",
                    "table contextmenu paste textcolor imagetools"
                ],
                toolbar:            "undo redo | styleselect fontselect fontsizeselect  | bold italic underline |  forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent  insert | table link image editimage  | preview",
                file_picker_types:  'image',
                images_upload_url:  UPLOAD_URL, //'{{ path('admin_system_administration_articles_upload_images') }}',
                relative_urls:      false,
                remove_script_host: false,
                convert_urls:       true,
                automatic_uploads:  true
                // file_browser_callback: function(field_name, url, type, win) {
                //     win.document.getElementById(field_name).value = 'my browser value';
                // }
            });
        });

        function choose_file() {
            $('#images').click();
        }

        function view_article_popup(id, title) {
            var url = '{{ url('common_articles_view') }}?id=' + id;
            layer.open({
                type:       2,
                title:      title,
                shadeClose: true,
                shade:      0.8,
                area:       ['800px', '90%'],
                content:    url
            });
        }

        function get_categories(portalId) {
            $.getJSON("{{ path('admin_system_administration_articles_categories') }}.json?portal_id=" + portalId, function (data) {
                var optionstring = "";
                $.each(data.data, function (i, item) {
                    optionstring += "<option value=\"" + item.id + "\" >" + item.name + "</option>";
                });
                $("select[name=cate_id]").html('<option value=""></option>' + optionstring);
                form.render('select'); //这个很重要

                form.val('form', {cate_id: '{{ form.cate_id.value }}'});
            });
        }

        layui.form.on('select(portal_id)', function (data) {
            get_categories(data.value);
        });

        get_categories("{{ form.portal_id.value }}");

    </script>
{% endblock %}
