{% extends 'Supplier/Common/layout.twig' %}
{% set title = '狐豆便民服务-代理中心-控制面板' %}
{% set user = app.user %}

{% block main_content %}
    <div class="foxdou-body">
        <div class="layui-clear">
            <div class="foxdou-left">
                <div class="foxdou-row">
                    <div class="foxdou-panel-user">
                        <div class="fpu-headimg">
                            <img src="{{ asset('/assets/supplier/image/hdimg1.jpg') }}"/>
                        </div>
                        <div class="fpu-info">
                            <div class="name">你好，
                                <span>{{ user.user_name }}</span>
                                {% if user.real_name_status == 'VERIFIED' %}
                                <p class="yanzheng">
                                    <i class="icon iconfont icon-shimingrenzhengchenggong"></i>
                                    <span>已验证</span>
                                </p>
                                {% endif %}
                            </div>
                            <div class="news-time">
                                <p>消息（<span class="news">2</span>）</p>
                                <p>上次登录时间：<span>{{ user.last_login_time|date('Y-m-d H:i:s') }}</span></p>
                            </div>
                            <div class="balance">
                                <p>账户余额（元）:<span>{{ user.supplierAccount.balance|default(0)|number_format(2) }}</span><a href="">充  值</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-clear">
                    <div class="foxdou-row" style="float: left; width: 200px;">
                        <div class="foxdou-myapi">
                            <div class="foxdou-row-title">
                                <span></span>
                                <h3><strong>我的应用</strong></h3>
                            </div>
                            <div class="myitem">
                                <a href="#">已上线<span class="green"></span>个</a>
                                <a href="#">调试中<span class="orange"></span>个</a>
                                <a href="#">待续费<span class="gray"></span>个</a>
                            </div>
                        </div>
                    </div>
                    <div class="foxdou-row" style="float: right; width: calc(100% - 215px);">
                        <div class="foxdou-quick">
                            <div class="foxdou-row-title">
                                <span></span>
                                <h3><strong>快捷入口</strong></h3>
                            </div>
                            <ul class="quickitem">
                                <li>
                                    <a href="#">
                                        <img src="{{ asset('/assets/supplier/image/sjhfcz.png') }}" />
                                        <span>手机话费充值</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{{ asset('/assets/supplier/image/quyxcz.png') }}" />
                                        <span>全国游戏充值</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{{ asset('/assets/supplier/image/sfzyz.png') }}" />
                                        <span>身份证二元素实名认证</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{{ asset('/assets/supplier/image/sjhfcz.png') }}" />
                                        <span>手机话费充值</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="foxdou-row">
                    <div class="foxdou-ysqapi">
                        <div class="foxdou-row-title">
                            <span></span>
                            <h3><strong>已申请的应用</strong></h3>
                            <a href="" class="more">更多&gt;&gt;</a>
                        </div>
                        <ul class="ysqapi-lis">

                        </ul>
                    </div>
                </div>
            </div>
            <div class="foxdou-right">
                <div class="foxdou-row">
                    <div class="foxdou-slide">
                        <div class="layui-carousel" id="test1">
                            <div carousel-item="">
                                <div><img src="{{ asset('/assets/supplier/image/slider-1.jpg') }}"/></div>
                                <div><img src="{{ asset('/assets/supplier/image/slider-2.jpg') }}"/></div>
                                <div><img src="{{ asset('/assets/supplier/image/slider-3.jpg') }}"/></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="foxdou-row">
                    <div class="foxdou-news">
                        <div class="foxdou-row-title">
                            <span></span>
                            <h3><strong>最新公告</strong></h3>
                            <a href="#" class="more">更多&gt;&gt;</a>
                        </div>
                        <ul class="news-lis">
                            {% for article in articles %}
                            <li>
                                <a href="#">
                                    <p>{{ article.title }}</p>
                                    <span>{{ article.add_time|date('m-d') }}</span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="foxdou-row">
                    <div class="foxdou-kefu">
                        <div class="foxdou-row-title">
                            <span></span>
                            <h3><strong>联系客服</strong></h3>
                        </div>
                        <div class="info">
                            <div class="rexian">
                                <i class="icon iconfont icon-dianhua"></i>
                                热线电话：<span>15678527068</span>
                            </div>
                            <a href="http://wpa.qq.com/msgrd?v=3&uin=406126623&site=qq&menu=yes" class="zxkf" target="_blank">
                                <i class="icon iconfont icon-qie"></i>
                                <span>在线客服</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
